html, body {
  height: 100%;
  width: 100%;
  color:white;
  background-color: rgb(71, 77, 77);
  font-family:  sans-serif; 
}

.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  color: white;
  background-color: rgb(46, 31, 31);
}

.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
    background-color:rgb(149, 159, 159)
}